Repository fmihpc/vlasiator, pull requests merged in 2024-06, with the labels that each got.

#980 Removed block offset evaluation kernel in ACC; included functionality…
  arch/gpu_base.cpp
  arch/gpu_base.hpp
  spatial_cell_cpu.cpp
  spatial_cell_cpu.hpp
  spatial_cell_gpu.cpp
  spatial_cell_gpu.hpp
  velocity_block_container.h
  velocity_mesh_gpu.h
  velocity_mesh_old.h
  velocity_mesh_parameters.cpp
  velocity_mesh_parameters.h
  vlasovsolver/gpu_acc_map.cpp
  vlasovsolver/gpu_acc_map.hpp
  vlasovsolver/gpu_acc_semilag.cpp
  vlasovsolver/gpu_acc_semilag.hpp
  vlasovsolver/gpu_acc_sort_blocks.cpp
  vlasovsolver/gpu_acc_sort_blocks.hpp
  vlasovsolver/gpu_dt.cpp
  vlasovsolver/gpu_moments.cpp
  vlasovsolver/gpu_moments.h
  vlasovsolver/gpu_trans_map_amr.cpp
  vlasovsolver/gpu_trans_map_amr.hpp
Labels: improved-memory-usage, gpu

#969 Add OMP support for ARCH host backend
  arch/arch_device_host.h
  datareduction/datareducer.cpp
  datareduction/datareductionoperator.cpp
  datareduction/datareductionoperator.h
  parameters.cpp
  spatial_cell_cpu.hpp
  spatial_cell_gpu.hpp
Labels: gpu

#981 Vlasiator gpu branch, fix dynamic AMR operations
  .github/workflows/github-ci.yml
  MAKE/Makefile.MN5_gpp
  MAKE/Makefile.yann
  common.h
  spatial_cell_cpu.cpp
  spatial_cell_cpu.hpp
  spatial_cell_gpu.cpp
  spatial_cell_gpu.hpp
  testpackage/small_test_carrington_github_ci.sh
  tools/vlsvdiff.cpp
  velocity_mesh_gpu.h
  vlasiator.cpp
  vlasovsolver/gpu_acc_map.cpp
Labels: bug, AMR, critical, gpu

#983 Purged config references to the GPUBLOCKS / CUDABLOCKS parameter and …
  MAKE/Makefile.Freezer_cuda
  MAKE/Makefile.mahti_cuda
  MAKE/Makefile.puhti_gcc_cuda
  arch/arch_device_cuda.h
  arch/arch_device_hip.h
  spatial_cell_gpu.cpp
  spatial_cell_gpu.hpp
  vlasovsolver/gpu_acc_map.cpp
  vlasovsolver/gpu_acc_sort_blocks.cpp
Labels: deprecated features, gpu

#995 Try to use a cancel job step to scancel
  .github/workflows/github-ci.yml
  testpackage/small_test_carrington_github_ci.sh
Labels: CI
